$text-gray: rgba(125, 125, 125, 1);

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.phone-disabled, .inactive {
    display: none;
}

.active, .phone-active {
    display: block;
}

/*styles for the list/grid views*/
.list {
    border-bottom: 1px dotted gray;
    border-top: 2px solid white;
    vertical-align: top;
    position: relative;;
}

.list-header {
    font-size: 1.5em;
}

.list img {
    max-width: 200px;
}

.list-logo {
    min-height: 6em;
}

.list-text {
    min-height: 5em;
    color: $text-gray;
}

/* end styles for list/grid view */

.compare-item {
    width: 100px;
    display: inline-block;
}

.compare-item img {
    width: 100px;
}

.hover {
    border-top: 2px solid red;
}


@media screen and (min-width: 480px) {
    .phone-active {
        display: none;
    }
    .phone-disabled {
    display: block;
}
    .grid {
        display: inline-block;
        width: 31%;
        margin-right: 1.5em;
        min-height: 300px;
        margin-bottom: 3em;
    }
    .item-overlay {
        display: block;
        position: absolute;
        top: 0;
        background-color: rgba(200, 200, 200, .95);
        width: 100%;
        min-height: 300px;
        padding: 2em;
    }
}
