<div ng-include="'header.html'"></div>
<div class="row">
    <div class="col-sm-12">
        <div ng-repeat="item in cart">
            <div><img src="{{item.icon}}"></div>
            <div>{{item.serviceName}}</div>
            <div>{{item.startingPrice}}</div>
            <div>{{item.description}}</div>
        </div>
     </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form role="form">
            <div class="form-group">
                <label>Order Name (optional)</label>
                <input type="text" placeholder="Enter optional order name" class="form-control">
            </div>

            <div class="form-group">
                <label>Special Order Instructions (optional)</label>
                <textarea class="form-control"></textarea>
            </div>
            {{currentUser}}
            <div class="form-group">
                <a href="" class="btn btn-primary btn-block" ng-click="submitOrder(currentUser, cart)">Submit Order - have order level special requests text or file</a> 
            </div>
        </form>
    </div>
</div>
