/* line 3, ../sass/gravitant-styles.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 9, ../sass/gravitant-styles.scss */
.phone-disabled, .inactive {
  display: none;
}

/* line 13, ../sass/gravitant-styles.scss */
.active, .phone-active {
  display: block;
}

/*styles for the list/grid views*/
/* line 18, ../sass/gravitant-styles.scss */
.list {
  border-bottom: 1px dotted gray;
  border-top: 2px solid white;
  vertical-align: top;
  position: relative;
}

/* line 25, ../sass/gravitant-styles.scss */
.list-header {
  font-size: 1.5em;
}

/* line 29, ../sass/gravitant-styles.scss */
.list img {
  max-width: 200px;
}

/* line 33, ../sass/gravitant-styles.scss */
.list-logo {
  min-height: 6em;
}

/* line 37, ../sass/gravitant-styles.scss */
.list-text {
  min-height: 5em;
  color: #7d7d7d;
}

/* end styles for list/grid view */
/* line 44, ../sass/gravitant-styles.scss */
.compare-item {
  width: 100px;
  display: inline-block;
}

/* line 49, ../sass/gravitant-styles.scss */
.compare-item img {
  width: 100px;
}

@media screen and (min-width: 480px) {
  /* line 55, ../sass/gravitant-styles.scss */
  .phone-active {
    display: none;
  }

  /* line 58, ../sass/gravitant-styles.scss */
  .phone-disabled {
    display: block;
  }

  /* line 61, ../sass/gravitant-styles.scss */
  .grid {
    display: inline-block;
    width: 47%;
    margin-right: 1.5em;
    min-height: 300px;
    margin-bottom: 3em;
  }

  /* line 68, ../sass/gravitant-styles.scss */
  .item-overlay {
    display: none;
  }
}
@media screen and (min-width: 786px) {
  /* line 74, ../sass/gravitant-styles.scss */
  .phone-active, .desktop-disabled {
    display: none;
  }

  /* line 77, ../sass/gravitant-styles.scss */
  .hover {
    border-top: 2px solid red;
  }

  /* line 80, ../sass/gravitant-styles.scss */
  .phone-disabled {
    display: block;
  }

  /* line 83, ../sass/gravitant-styles.scss */
  .grid {
    display: inline-block;
    width: 31%;
    margin-right: 1.5em;
    min-height: 300px;
    margin-bottom: 3em;
  }

  /* line 90, ../sass/gravitant-styles.scss */
  .item-overlay {
    display: block;
    position: absolute;
    top: 0;
    background-color: rgba(200, 200, 200, 0.95);
    width: 100%;
    min-height: 300px;
    padding: 2em;
  }
}
