<!-- Catalog Controller broker-controllers.js -->
<h3><a href="#/">Broker Portal</a> - Manage Default Catalog</h3>
<div><a href="#create-master-tenant">Create Master Tenant</a></div>
<div><a href="#catalog">Add Provider</a></div>
<div><a href="#catalog/add-service">Add Service to Catalog</a></div>
<div><a href="#catalog">Add Cloud Instance</a></div>
<div><a href="#catalog">Add Location</a></div>

<div>
    <form>
        <input type="search" class="form-control" placeholder="Search Services" ng-model="searchText">
    </form>
</div>
<div ng-repeat="service in catalog.services | filter: searchText" ng-click="showDetails(service)">
    <div ng-repeat="provider in catalog.providers"><img ng-show="service.providerID == provider.id" ng-src="{{provider.icon}}"></div>
    <div>{{ service.name }}</div>
    <div>{{ service.description }}</div>
</div>
