<!-- Catalog Controller broker-controllers.js -->
<div ng-include="'header.html'"></div>
<h3><a href="#/{{currentBrokerID}}/{{currentUserID}}">Broker Portal</a> - Manage Default Catalog</h3>
<div><a href="#/{{currentBrokerID}}/{{currentUserID}}/create-master-tenant">Create Master Tenant</a></div>
<div><a href="#/{{currentBrokerID}}/{{currentUserID}}/catalog">Add Provider</a></div>
<div><a href="#/{{currentBrokerID}}/{{currentUserID}}/catalog/add-service">Add Service to Catalog</a></div>
<div><a href="#/{{currentBrokerID}}/{{currentUserID}}/catalog">Add Cloud Instance</a></div>
<div><a href="#/{{currentBrokerID}}/{{currentUserID}}/catalog">Add Location</a></div>

<div>
    <form>
        <input type="search" class="form-control" placeholder="Search Services" ng-model="searchText">
    </form>
</div>
<div ng-repeat="service in catalog.services | filter: searchText" ng-click="showDetails(service)" class="list">
    <div ng-repeat="provider in catalog.providers"><img ng-show="service.providerID == provider.id" ng-src="{{provider.icon}}"></div>
    <div class="list-header">{{ service.name }}</div>
    <div class="list-text">{{ service.description }}</div>
</div>
