testing {{ newMasterTenantInfo }}
<form role="form">
    <div class="form-group">
        <label for="mt-name">Account Name</label>
        {{ newMasterTenantInfo.accountName }}
    </div>

    <div class="form-group">
        <label for="mt-max-tenants">Max Tenants</label>
        {{ newMasterTenantInfo.maxTenants }}
    </div>

    <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="newMasterTenantInfo.defaultCatalog"> Include default catalog
        </label>
    </div>

    <div class="form-group">
        <a href="#/master-tenant-list" class="btn btn-primary btn-block" ng-click="createMasterTenant()">Create Master Tenant</a>
    </div>
</form>