<!-- Linked Tenants List Controller -->
<h3>Master Tenant Portal - View Linked Tenants</h3>
<div><a href="#/{{currentMasterTenant}}/{{currentUserID}}/create-tenant">Create Linked Tenant</a></div>

<div>
    <form>
        <input type="search" class="form-control" placeholder="Search Linked Tenants" ng-model="searchText">
    </form>
</div>

<div ng-repeat="tenant in linkedTenantsList | filter: searchText">
    <span><a href="#/{{currentMasterTenant}}/{{currentUserID}}/linked-tenant-details/{{tenant.id}}" ng-click="setLinkedTenant(tenant.id)">{{ tenant.name }}</a> <!--Customer ID, Subscription, Status, Users, Referred By (master tenant)--></span>
</div>


