<!-- TenantController -->
<h3>Master Tenant Portal - Linked Tenant Details</h3>
Link: <a href="http://localhost/cmo-2/linked-tenant/#/{{currentLinkedTenant.info.id}}/1" target="_blank" >localhost/cmo-2/linked-tenant/#/{{currentLinkedTenant.info.id}}/1</a>
<div>
    <!--
    Customer ID, Parent Customer, Parent Domain, Customer Name, Address, Status, Referred by, Subscription Level-Broker,, Subscription Status-Active, payment verified true/false, Billing Method  - PO, Auto Payment - No, Payment Identifier - PO , Expiration Date, Ext Customer ID, PO Number, PO Date, PO Status, PO Amount ---- Users of the Linked Tenant, Contacts for the linked Tenant, Catalog Details, Select Catalog by provider and services, what to do with new services added??? -->
    <div ng-repeat="service in defaultCatalog.services" class="list">
        <div><img ng-src="{{service.icon}}"></div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-checked="service.visible" ng-model="selectedService" ng-init="selectedService = service.visible" ng-click="updateCatalog(service, selectedService)">{{ service.name }}
            </label>
        </div>
    </div>

    <a href="" class="btn btn-primary btn-block" ng-click="updateLinkedTenantCatalog()">Save Changes</a>
</div>


<div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>